.about {
    height: 100%;    
}

.about-jumbo {
    padding-top: 100px;
    height: 600px;
    background-image: url('/about-image-final.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.about-intro-con {
    margin-top: 80px;
    margin-left: 30px;
    width: 500px;
    background-color: rgba(43, 44, 45, 0.5);
    padding: 10px 5px 20px 10px;
    border-left: 6px solid #77b785;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    float: left;
}

.about-title {
    padding-top: 40px;
    padding-left: 10px;
    font-weight: 700px;
    color: #fff;
    margin-bottom: 0;
}

.about-intro-line {
    color: #fff;
    padding-left:10px;
    font-size: 25px;
    font-weight: 700px;
    margin-left: 5px;
    font-style: italic;
}

.about-row {
    background-color: rgba(49,49,49,1);
}

.about-lead-title {
    padding-top: 30px;
}

.about-hr-line {
    border: 4px solid #77b785;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 30px;
}

.services-head {
    margin: 0;
    background-color: rgba(241,241,241,1);
    padding-top: 40px;
    padding-bottom: 25px;
    letter-spacing:2px;
    font-weight: 700;
    color: #77b785;
}

.row-two-two {
    background-color: rgba(241,241,241,1);
}

.job-icon {
    border-radius: 90%;
    border: 2px solid #5b9467;;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 25px;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

.job-icon:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.job-place {
    font-size: 17px;
    font-weight: 600;
    margin-bottom:2px;
    color: #5b9467;
}

.job-name {
    font-size: 16px;
    font-style: italic;
    padding-top: 2px;
    color: #77b785;
    margin-bottom: 0;
}

.space {
    margin-bottom: 30px;
}

.bottom-space {
    padding-bottom: 60px;
}

.job-row {
    background-color: #77b785;
    color: #fff;
}

.job-title {
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

.job-comp {
    font-weight: 400;

}

.content-half ul{
    padding:0;
    list-style:none;
}

.about-hover {
    margin-bottom:30px;
     padding: 20px;
     background-color: #77b785;
     border-radius: 5px;
     color: #fff;
     width: 80%;
     margin-left:10px;
     font-size: 10px;
 }

.jobs-two {
    display: inline-flex;
}

.skills {
    padding: 60px;
    border-radius: 5px;
    border-bottom: 4px solid #77b785;
    background-color: #fff;
} 

.team-member {
    width: 95%;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding:20px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-bottom: 2px solid #77b785;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 550px) {
    .about-intro-con {
        float: none;
        margin-left:0;
        width: 100%;
    }
}
  
@media screen and (max-width: 590px) {
    .row-two-two {
        display: block;
    }

    .job-icon {
        height: 200px;
        width: 200px;
    }
}


