.navbar {
    position: absoulute;
    top: 0;
    height: 85px;
    z-index: 100;
    border-bottom: 1px solid #fff;
    background: rgba(49,49,49,1);
    color: #fff;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #fff;
    padding-left: 40px;
    border-left: 4px solid #77b785;
    padding-left: 15px;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-nav {
    padding: 10px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    margin-top: 10px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    color: #4d925c;
    line-height: 1;
    background-color: #fff;
    border: 2px solid #77b785;
    border-radius: .25rem;
}

.navbar-toggler:hover {
    background-color: #77b785;
    border: 2px solid #4d925c;
    color: #fff;
}

@media screen and (max-width: 690px) {
    .navbar-nav {
        margin: 20px;
        padding:10px;
    }  
}

.nav-link {
    display: block;
    padding-right: 30px;
    font-size: 18px;
    color: #fff; 
}

.nav-link:hover {
    color: #77b785;
    border-bottom: 2px solid #77b785;
}

.start-button {
    font-weight: 500;
}

.navbar-collapse {
    background-color: rgba(49,49,49,1);
    border-radius: 5px;
    margin-top:3px;
}