.portfolio {
    height: 100%;   
}

.portfolio-jumbo {
    padding-top: 100px;
    height: 600px;
    background-image: url('/portfolio_image.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    margin: 0;
}

.portfolio-title {
    padding-top: 100px;
}

.project-container {
    background-color: rgba(241,241,241,1);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    color: #5b9467;
}

  .job-icon-portfolio {
    font-size: 65px;
}






