.about {
    height: 100%;
     
}

 .about-title {
    color: #fff;
    padding-top: 110px;
    font-size: 40px;
    letter-spacing: 3px;
  

   
}

.about-line {
   
    width: 10%;
    
    border-top: 3px solid #77b785;
    padding-bottom: 80px;
} 

 .about-intro-title {
    color: #5b9467;
    padding-top: 40px;
    
} 
/*
.about-intro {
    color: #77b785;
    padding-bottom: 20px;
}

.about-p {
    color: #38393a;
    padding: 20px;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.skillsBox {
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
} */ 


    /* .block {
        width: 70px;
        height: 2px;
        background: #77b785; 
       
        margin-bottom: 50px;
    } */

    .team-member {
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        padding:20px;
        margin-bottom: 50px;
        border-bottom: 2px solid #77b785;
        -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    }

    .team-member-two {
        height: 400px;
        border-radius: 5px;
        border-bottom: 2px solid #77b785;
        -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    }

    .team-member img {
        margin-top: 30px;
        border: 7px solid #77b785;
        width: 200px;
        -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    }

    .profile-name {
        padding-top: 25px;
    }

.profile-lead {
    padding: 25px 25px 15px 25px;
}

    .profile-about {
       padding: 5px 25px 25px 25px;
    }
   
    .dots {
        color: #77b785;
    }

    .services, .skills {
  
      
       
        -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    }

    .about-stuff {
        padding-top: 30px;
    }

    .progress-bar {
        padding: 20px;
        border-radius: 5px;
        height: 8px;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #77b785;
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
    .desc-bar {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .skills {
        padding: 20px;
        border-radius: 5px;
        border-bottom: 4px solid #77b785;
        background-color: #fff;
    }
    
    .my-services {
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        border-bottom: 2px solid #77b785;
        -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    }