html, body {
  height: 100%;
  
}

body {
   background-color: rgba(252, 252, 252, 0.83);
}

.App > div {
  height: 100%;
  
}

#root {
  height: 100%;
  
}

.App {
  height: 100%;

}



.navbar-brand,
.hero-span,
.hero-name,
.text-rotate,
.about-title,
.get-knoiw-me,
.about-lead-title,
.services-head,
.footer-title-name,
.job-place,
.start-button,
.project-title {
  font-family: 'Roboto', sans-serif;
}

.get-knoiw-me {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #77b785;
 
}


.about-intro-line,
.about-lead-sub,
.intro-para,
.description-lead,
.tech-used,
.contact-h4,
.social-intro-contact,
.footer-links,
.footer-font-style,
.job-name,
.nav-link {
  font-family: 'Raleway', sans-serif;
}

