.hero {
    background-image: url('/home-image_Fotor.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    height: 100%;
     color: #fff;
}

.hero-name {
    padding-top: 180px;
    font-size: 64px;
    letter-spacing: 2px;
    font-family: Raleway, Open Sans, Arial, sans-serif;
    color: #fff;
}

.text-rotate {
  padding-top:30px;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
}

.p-text {
    height:28px;  
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    color: #77b785;
  }
   
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  span {
      text-align: center;
  }

  .start-button {
    font-size: 14px;
    color: #fff;
    margin: 20px 20px 0 0;
    text-align: center;
    width: 180px;
    font-family: Raleway, Open Sans, Arial, sans-serif;
    letter-spacing: 3px;
    position: relative;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    outline: none;
    padding: 13px 20px;
    display: inline-block;
    border-color: #77b785;
    border-width: 2px;
  }

  .start-button:hover {
    background-color: #77b785;
    color: #fff;
    border-color: #5b9467;
  }

.hero-span {
  background-color: rgba(43, 44, 45, 0.5);
  padding: 20px 5px 20px 50px;
  border-left: 4px solid #77b785;
  
}

.hero-container {
  padding-top: 100px;
}



