.navbar {
    position: absoulute;
    top: 0;
    height: 70px;
    z-index: 100;
    
    border-bottom: 1px solid #fff;
    background: rgba(49,49,49,1);
    color: #fff;

    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #fff;
    padding-left: 40px;
    border-left: 4px solid #77b785;
    padding-left: 15px;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    display: block;
    padding-right: 30px;
    font-size: 18px;
    color: #fff;
}

.nav-link:hover {
    color: #77b785;
    border-bottom: 2px solid #77b785;
}