/* .port-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
} */

.portfolio-title {
    padding-top: 100px;
}

   .portfolio-jumbo {
    padding-top: 100px;
    height: 600px;
background-image: url('/portfolio_image.jpg');
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
}


.card {
    border: none;
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

.bottom-card {
    margin-bottom: 40px;
}

.port-items-cont {
    background-color: rgba(241,241,241,1); 
}